

<!DOCTYPE html>
<html >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>University Recommendation</title>
  <base target="_self">
  <meta name="description" content="A collapsing sidebar menu. Bootstrap 4 compatible with FontAwesome icons. When collapsed it shows only the icons. It includes logo, sub-menus, dividers with and without titles. It&#39;s 100% Bootstrap 4." />
  <meta name="google" value="notranslate">


  <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/public/fontawesome/css/all.css" >

  <link href="/public/css/style.css" rel="stylesheet"/>
  <link href="/public/css/card1.css" rel="stylesheet"/>
  <!-- <link href="css/detail_card.css" rel="stylesheet"/> -->
  <link href="/public/css/result_card.css" rel="stylesheet"/>
  

</head>
<body >
  
  
  <!-- Bootstrap NavBar -->
<nav class="navbar navbar-expand-md navbar-dark yo">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand " href="/">
    <!-- <img src="https://v4-alpha.getbootstrap.com/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""> -->
    <!-- <span class="menu-collapsed ">University Recommendation</span> -->
    GNS UNIVERSITY RECOMMENDER 
  </a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
     
      <!-- This menu is hidden in bigger devices with d-sm-none. 
           The sidebar isn't proper for smaller screens imo, so this dropdown menu can keep all the useful sidebar itens exclusively for smaller screens  -->
      <li class="nav-item dropdown d-sm-block d-md-none" >
        <!-- <a class="nav-link dropdown-toggle" href="#" id="smallerscreenmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-labelledby="smallerscreenmenu"> -->
           
        </a>
         <!-- <div class="dropdown-menu" aria-labelledby="smallerscreenmenu">  -->
            <a class="dropdown-item" href="index.html">Home</a>
            <!-- <a class="dropdown-item" href="#">About</a>
            <a class="dropdown-item" href="#">Top Universities</a>
            <a class="dropdown-item" href="#">FAQ</a> -->
        <!-- </div>  -->
      </li><!-- Smaller devices menu END -->
      
    </ul>
  </div>
</nav><!-- NavBar END -->


<!-- Bootstrap row -->
<div class="row" id="body-row">
    <!-- Sidebar -->
    <div id="sidebar-container" class="sidebar-expanded d-none d-md-block"><!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
        <!-- Bootstrap List Group -->
        <ul class="list-group">
            <!-- Separator with title -->
           
            <!-- /END Separator -->
            <!-- Menu with submenu -->
            <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    
                <span class="fab fa-searchengin fa-fw mr-3"></span>

                    <span class="menu-collapsed"> Home</span>
                </div>
            </a>

                  

  
             <li class="list-group-item sidebar-separator menu-collapsed"></li>            
             <!-- /END Separator -->

          
        </ul><!-- List Group END-->
    </div><!-- sidebar-container END -->

    <!-- MAIN -->
    <div class="col">
        <div class="row" style="margin-top:1rem;">
            <div class="col-lg-4" style="font-size: 14px;">&raquo;<a href="/" style="text-decoration: none; color: rgb(3, 84, 109); ">Home</a> &raquo;Results</div>
            <div class="col-lg-4" style="background-color:rgb(6, 134, 49); border-radius:5px; padding:5px;">
                    <h5 style="text-align:center; color:white;">Recommended Results</h5>
            </div>
            <div class="col-lg-4"> <button type="button" class="btn btn-lg btn-danger" style="border-radius: 5px;"><a href="/" style="text-decoration: none; color:#fff; ">Submit Next Query</a></button> </div>
            
        </div>


        <br><br>
    <div class="container-fluid"> 
        <% result.forEach(res => {%>
        <div class="row">

            <!-- Card1 Starting   -->
            <div class="col-lg-12 col-md-12 col-sm-12 ">

                <!-- <div class="card text-black mb-3  main"> -->
                <div class="card card-shadow g">

                    <div id="iconbox" class="color1">
                    <!-- <i class="fas fa-book icon"></i> -->
                    <img style="height: 120px; width: 120px; overflow: hidden; border:3px solid #cde;" src="/public/images/<%= res.inst_image%>" style="border: 5px solid #cde" />
                    </div>

                    <div class="card-header head">

                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-lg-2"></div>
                            <div class="col-md-5 col-sm-5 col-lg-5">                               
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h4 style="text-align:left; font-weight:bold; "><%= res.inst_name %></h4>                                 
                                    </div>
                                </div>        
                            </div>
                            <div class="col-md-5 col-sm-5 col-lg-5">                               
                                <div class="row">
                                    <div class="col-lg-12 padd" >
                                        <h5 style="text-align:right; "><a href="<%= res.inst_url %>" target="_blank"><%= res.inst_url %></a></h5>                                 
                                    </div>
                                </div>        
                            </div>
                        </div>
                    </div>

                    <hr class="hr-prop">
                    <div class="card-body">
                        <div class="stats stats-height">
                            <div class="row">
                                <div class="col-lg-4 col-md-">       
                                    <div class="card" >
                                        <div class="card-body" style="background-color: #eee;">
                                          <h5 class="card-title">Location</h5>
                                          <p class="card-text"><%= res.inst_state %>, <%= res.inst_fulladdress %></p>
                                        </div>
                                      </div>
                                </div>
                                <div class="col-lg-4 col-md-"> 
                                    <div class="card" >                                       
                                        <div class="card-body"  style="background-color: #eee;">
                                            <h5 class="card-title">Approx. Annual Fee (AUD)</h5>
                                            <p class="card-text"><%= res.inst_fee%></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-">       
                                        <div class="card" >                                       
                                            <div class="card-body"  style="background-color: #eee;">
                                                <h5 class="card-title">Minimum Ielts Requirement</h5>
                                                <p class="card-text"><%= res.inst_minielts %></p>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-12 wed">
                                    <button type="button"  onclick="location.href='/detail/<%=res._id%>'" class="btn btn-outline-success">More Details &raquo;</button>
                                </div>

                            </div>
                        </div>
                    </div>        
                </div>
                <div class="break"></div>

            </div>
            <!-- Card1 Finished -->   
            </div>
        <% }) %>
        </div><!-- Main Col END -->
        
    </div>
        
           
</div>

</div>

  
  

  
  <script src="/public/js/jquery.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script> -->
 <script src="/public/js/popper.min.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
  <script src="/public/js/script.js"></script>
  
  <script>
    // to collapse sidebar at start
    SidebarCollapse();
    function displayButtons(){
        alert('kk');
        document.getElementById('mybutton').style.display="inline";
        document.getElementById('mybutton2').style.display="inline";
        // $('mybuttons').
    }
  </script>
  

</body>
</html>
